body{
    background-color: rgba(0, 0, 0, 0.514);
    font-family: verdana;
    text-align: center;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;

}

#min, #max, #result {
    height: 30px;
    margin: 10px 10px;
    text-align: center;
    padding: 10px 10px;
    font-size: 1em;

    background-color: white;
}

button {
    font-size: 2em;
    cursor: pointer;
    border-radius: 6px;
    transition: opacity 0.5s ease-in;
}
button:hover {
    opacity: 0.5;
}